 /*1. Придумайте селектор, который выберет абзацы <p> внутри дивов <div>
div p {
	color: red;
}
*/
/*2. Придумайте селектор, который выберет все <h2> внутри дивов <div>.
div h2 {
	color: green;
}
*/
/*3. Придумайте селектор, который выберет все абзацы <p> из элемента с id=test.
#test_01 p {
	color: blue;
}
*/
/*4. Придумайте селектор, который выберет все <h1> из элемента с id=test.
#test_02 h1 {
	color: GreenYellow;
}
*/
/*5. Выберите все элементы с классом bbb.*/
.bbb {
	color: DarkOrange;
}

/*6. Выберите все элементы с классом bbb из элемента с id=test.*/

/*7. Выберите все абзацы <p> с классом bbb.*/
p.bbb {
	color: red;
}
/*8. Выберите все <h3> с классом bbb.*/
h3.bbb {
	font-weight: normal;
	color: Aqua;
}
/*9. Выберите все абзацы <p> с классом bbb из элемента с id=test.*/

/*10. Выберите все элементы с классом bbb и элементы с классом xxx одновременно.*/

/*11. Выберите все абзацы <p> с классом bbb и <h2> с классом xxx одновременно.*/

/*12. Выберите все абзацы <p> с классом bbb из id=test и все абзацы <p> с классом xxx из id=test одновременно.*/

/*13. Выберите все элементы из класса fff.*/
.fff {
	font-style: italic;
}
/*14. Выберите все абзацы <p> из класса fff.*/
p.fff {
	color: red;
}
/*15. Выберите все абзацы <p> с классом fff.*/
/*???*/
/*16. Выберите все элементы с классом bbb из класса fff.*/

/*17. Выберите все <h2> с классом bbb из класса fff.*/